<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS FOR BEGINNERS</title>
</head>
<body>
    <h1>Hi <%= name %></h1>
    <% for (var i=0 ;i < data.length;i++) {%>
        <p><%= data[i] %></p>
    <% } %>
</body>
</html>

