


    
      <div class="main">
       
        <div class="row justify-content-md-center" style="margin-top: 40px">
    
        </header>
        
        <form action="/add_emp" method="POST">




            <label for="name">Name</label>
            <input type ="text" name="name" required>
            <br><br>
            <label for="dept_id">dept_id</label>
            <input type ="text" name="dept_id" required>
            <br><br>
            <label for="manager">Manager</label>
            <input type ="text" name="manager">
            <br><br>
            <button class="btn btn-primary" type ="reset">Reset</button>
            <button class="btn btn-primary" type ="submit">Submit</button>
        </form>
        </div>
    
      </div>
    
      
    

