<%- include('header'); -%>




  <div class="main">
    <h2>Homepage</h2>
    <p>After completing this course the student will be able to:</p>
    <ul>
        <li>Examine the fundamentals and skills in one of server-side languages or frameworks.</li>
        <li>Design client-side and server-side web development skills.</li>
        <li>Evaluate the fundamentals of database design.</li>
        <li>Build web applications and deploying them.</li>
    </ul>

    <h2>Course Description</h2>
    

    This course is aimed to develop student skills in web development using one of client and server-side programming. The course covers also recent libraries and frameworks developments in JavaScript, Node.js, MVC and database integration. 










  </div>

  


<%- include('footer'); -%>
